@fourthwall:registry=https://gitlab.com/api/v4/groups/2694140/-/packages/npm/
//gitlab.com/api/v4/groups/2694140/-/packages/npm/:_authToken=glpat-aiBpc594hgb5u39mAKarSm86MQp1Ojk5ZXM1Cw.01.120csw4uy
//gitlab.com/api/v4/projects/35006546/packages/npm/:_authToken=glpat-aiBpc594hgb5u39mAKarSm86MQp1Ojk5ZXM1Cw.01.120csw4uy
//gitlab.com/api/v4/projects/11140673/packages/npm/:_authToken=glpat-aiBpc594hgb5u39mAKarSm86MQp1Ojk5ZXM1Cw.01.120csw4uy
